body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #222;
}

.text-section {
    padding: 4em 2em; 
    text-align: center;
}

.intro {
    margin: 35vh;
}

.intro-text {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    max-width: 900px;
    margin: 2em auto;
}

.fact {
    background: white;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;      
    transition: 0.3s;    
}

.fact:hover {
    background-color: #f0f0f0;
}

.extra-detail {
    max-height: 0;         
    opacity: 0;           
    transition: all 0.5s ease;
    margin-top: 1em;
    font-style: normal;   
    color: #333;
}

.fact.expanded .extra-detail {
    max-height: 200px;   
    opacity: 1;          
}

.gray {
    background: #d1d1d1;
}

.white {
    background: #fff;
}

#chart1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    max-width: 500px;
}

canvas {
    max-width: 100%;
    height: auto;
}

ul.bullets {
    list-style-type: none;  
    padding: 0;
    max-width: 600px;
    margin: 2em auto 1em;
    text-align: left;
}

ul.bullets li {
    margin-bottom: 1em;
    padding: 0.5em;
    background: #f9f9f9;
    border-radius: 6px;
    cursor: pointer;       
    transition: background 0.2s;
}

ul.bullets li:hover {
    background: #e0e0e0;
}

#hover-output {
    font-weight: bold;
}

#chart2 {
    max-width: 700px;
    margin: 2em auto;
} 

#temperature-graph {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#chartContainer {
    position: sticky;
    top: 15%;
    left: 33%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 900px;
    height: 500px;
    z-index: 1;
    pointer-events: none;
}

canvas {
    width: 100% ;
    height: 100% ;
    display: block;
    border-radius: 8px;
    background: #fafafa;
    border: 1px solid #ddd;
}

.text-scroll {
    padding: 20px;
    overflow-y: visible;
    position: relative;
    z-index: 10;
}

.text-block {
    margin: 100px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    transition: background-color 0.3s ease;
}

.text-block.active {
    background-color: rgb(255, 216, 216); 
}

.text-block.active.future {
    background-color: rgba(216, 235, 255); 
}

.text-block h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: #007bff;
}
.past h2 {
    color: #d62828;
}