/* first mode */
body{
    /* background-color: aliceblue; */
    background-image: url("images/background1.png");
    font-family: "Lilita One", sans-serif;
    padding: 0;
    margin: 0;
    transition: 
        background-color 0.7s,
        text-transform 0.7s;
}

#switchattach{
    display:flex;
    flex-direction: column;
}

header{
    background-color: white;
    border: solid rgb(188, 188, 199) 9px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 250px;
    margin: auto;
    margin-top: 5vh;
    color: rgb(144, 144, 152);

    transition:
        background-color 0.7s,
        border-radius 0.7s,
        border 0.7s,
        color 0.7s;
}

#bannername, h2 {
    margin: 0;
}

h2 {
    margin-bottom: 2vh;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88d0ed; 
    border-radius: 0 0 12px 12px;
    border: transparent;
    width: 12vw;
    height: 5vh;
    margin: 0 0 0 70vw;
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;

    transition:
        background-color 0.7s,
        border-radius 0.7s;
}

button:hover {
    background-color: #569ab5;
    cursor: pointer;
}

main {
    font-family: "Comfortaa", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 450;
    /* font-style: normal; */
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    gap: 3vw;

    transition: font 0.7s;
}

section {
    padding: 3vh;
    border: solid transparent 4px;
    min-width: 10vw;
    border-radius: 15px;

    transition:
        background-color 0.7s,
        border 0.7s,
        border-radius 0.7s;

}

section h3{
    margin: 5vh 0 2vh 0;
    color: #4cafd6;

    transition: color 0.7s;
}

ul li a {
    color:rgb(103, 103, 109);
    text-decoration: none;

    transition: color 0.7s;
}
nav ul {
    list-style-type: none;
    padding-left: 0.5vw;
}
ul li {
    border-radius: 5px;
    padding: 0.1vw 0.5vw;

    transition:
        background-color 0.7s,
        border-radius 0.7s;
}

section:hover {
    background-color: white;
    border: solid rgb(188, 188, 199) 4px;
}

nav ul li:hover {
    background-color: rgb(212, 212, 214);
}

/* second mode */
body.switch {
    /* background-color: #FFF0DF; */
    background-image: url("images/background2.png");
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

button.switch {
    background-color: #0000FF;
    border-radius: 0;
}
button.switch:hover {
    background-color: #416dff;
}

header.switch {
    background-color: #FECA75;
    border-radius: 0;
    border: solid transparent 9px;
    color: #DE851D;
}

main.switch {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

section.switch {
    border-radius: 0;
    border: solid transparent 4px;
}

section.switch:hover{
    background-color: #FECA75;
}

h3.switch {
    color: #0000FF;
}

li.switch {
    border-radius: 0;
}

li.switch:hover{
    background-color: #f9e5ae;
}

li a.switch {
    color: #F15A24;
}